{
  // Enable/disable this mod.
  "ModIsEnabled": true,

  // The limit (%) of ore veins that reach the surface. Max is 100, min is 0.
  // For a hardcore experience the recommended value is 5 percent or less.
  "OreVeinsAmount": 50.0,

  // Whether to place an ore boulder on the surface.
  "BoulderOnTheSurface": true,

  // Whether to show a colored dot for ore on the map.
  "ColoredDotOnTheMap": true
}